@use "@picocss/pico/scss/pico" with (
    $theme-color: "red", // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc
);

:root {
    --pico-line-height: 1.25;
    --pico-spacing: 0.75rem;
    --pico-font-size: 1rem;
    --pico-typography-spacing-vertical: 0.5rem;
    --pico-nav-element-spacing-vertical: 0.5rem;
}

html,
body {
    margin: 0.5rem 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"]{
    background-color: var(--pico-form-element-background-color);
    border-color: var(--pico-form-element-border-color);

    &:hover {
        background-color: var(--pico-dropdown-hover-background-color);
    }
}
